body {
    background-image: url(128-105.jpg);
    background-repeat: repeat;
    font-family: 'Droid Serif', serif;
}

.panel-title {
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
}

.bold {
    font-weight: bold;
}

.btn {
    font-family: 'Lobster', cursive;
}

.shrink {
    height: 30px;
    width: auto;
    margin-right: 2%;
}

.spacer {
    margin-bottom: 1%;
}